---
import './styles/global.css';
import Footer from './components/Footer/Footer.astro';
import Header from './components/Header/Header.astro';
---
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link
            rel="alternate"
            type="application/rss+xml"
            title="Your Site's Title"
            href={`${Astro.site}rss.xml`}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="generator" content={Astro.generator}/>
    <script src="https://cdn.jsdelivr.net/npm/bowser@2.11.0/bowser.min.js"></script>
    <slot name="head"/>
</head>
<body>
<Header/>
<slot/>
<Footer/>
<script>
  import "./scripts/menu.js";
  import {inject} from "@vercel/analytics";

  inject()

</script>
<script is:inline >
  let theme = localStorage.getItem('theme') ?? "light";
  document.documentElement.classList.add(theme);
  let isDark = theme === "dark";
  document.getElementById("themeToggle").textContent = isDark ? "🌜" : "🌞";
</script>

<script>
    import './scripts/versionBrowserDetectionForThemesManagement.js'
</script>
</body>
</html>