---
import Hamburger from './Hamburguer.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
    <div class="buttons_nav">
        <ThemeIcon/>
    </div>
</header>

<style>

    header {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-primary);
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0 1.5rem;

        .buttons_nav {
            flex-direction: row;
            display: flex;
            gap: 1rem;
            align-items: start;
            justify-content: center;
            padding: 0.5rem;
        }
    }


    @media screen and (min-width: 640px) {
        header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .buttons_nav {
            align-items: center;

        }
    }


</style>