---
const { url } = Astro.props;
---

<a class="socialIcon" href={url} target="_blank">
  <slot />
</a>

<style>
  .socialIcon {
      fill: var(--color-in-primary);

      svg {
          width: 2rem;
          height: 2rem;
      }

      &:hover {
          fill: var(--color-secondary);
          transition: fill 0.3s;
      }
  }

</style>
