---
import BaseLayout from '../../BaseLayout/BaseLayout.astro';
import {PostsContainer} from './_components/Posts/PostsContainer';

const allPosts = await Astro.glob('../../pages/posts/*.md');
---

<BaseLayout pageTitle="blog">

    <main class="posts">
        <h1>Blog</h1>
        <PostsContainer posts={allPosts} client:load/>
    </main>
</BaseLayout>

<style>

    h1 {
        text-align: center;
        margin: 0;
    }

    .posts {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }

    @media(min-width: 768px){
        .posts {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }

</style>

