---
import BaseLayout from "../BaseLayout/BaseLayout.astro";

const welcome = 'Hola, Bienvendid@ a mi web personal!'

const proposal = (
    'Me encanta aprender cosas nuevas y compartir lo que sé con los demás.\n' +
    'Con este blog espero conseguir ambas cosas.'
)

const about = (
    'Actualmente, estoy principalmente involucrado en el desarrollo de\n' +
    'software, en concreto en soluciones en ingeniería de datos, aunque me\n' +
    'gusta el desarrollo Mobile y Web. También me interesan otras áreas como\n' +
    'la ciencia, la economía y el deporte.'
)
---

<BaseLayout pageTitle="Home">
  <main class="hero">
    <section class="hero__content">
      <h2> {welcome} </h2>
      <p> {proposal} </p>
      <p> {about} </p>
    </section>

    <figure class="hero__img_author">
      <img src="../../public/author.png" />
    </figure>
  </main>
</BaseLayout>

<style>

  .hero {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    .hero__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        text-align: justify;
      }
    }

    .hero__img_author {
      flex: 1;
      border-radius: 2%;
      border-width: 2px;
      border-style: solid;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 636px) {
      .hero {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
      }
  }
</style>
