---
import BaseLayout from "../BaseLayout/BaseLayout.astro";

const welcome = 'Hola, bienvendid@ a mi web personal!'

const author = 'Mario S. Pinto Miranda'

const proposal = (
    'Me encanta aprender cosas nuevas y compartir lo que sé con los demás.\n' +
    'Con este blog espero conseguir ambas cosas.'
)

const about = (
    'Actualmente, soy desarrollador de software, ' +
    'he trabajado en varios tipos de proyecto a nivel tecnologico, '  +
    'como de contexto, y sigo aprendiendo cada día buscando mejorar mis ' +
    'habilidades con nuevos desafios.'
)
---

<BaseLayout pageTitle="Home">
  <main class="hero">
    <section class="hero__content">
      <h1> {author} </h1>
      <h2> {welcome} </h2>
      <p> {proposal} </p>
      <p> {about} </p>
       <div class="hero__call_action">
            <a href="/blog" class="hero_button">Ver Blog</a>
       </div>
    </section>

    <figure class="hero__img_author">
      <img src="../../public/author.png" />
    </figure>
  </main>
</BaseLayout>

<style>

  .hero {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;

    .hero__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        text-align: justify;
      }
    }

    .hero__img_author {
      flex: 1;
      border-radius: 2%;
      border-width: 2px;
      border-style: solid;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .hero__call_action {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .hero_button {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.5rem;
            background-color: var(--color-primary);
            color: var(--color-in-primary);
            font-size: 1rem;
            cursor: pointer;
            text-decoration: none;
            box-shadow: 0 0 5px var(--color-secondary);
        }

        .hero_button:hover {
            background-color: var(--color-secondary);
        }
    }
  }

  @media screen and (min-width: 636px) {
      .hero {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
      }
  }
</style>
