.search_bar {
    display: flex;
    flex-direction: row;
    background-color: var(--color-primary);
    width: 100%;

    .search_bar__filter_icon {
        display: flex;
        flex: 1;
        flex-basis: 2rem;
        max-width: 3rem;
        background-color: var(--color-in-primary);
        justify-content: center;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M11.5 7a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m-.82 4.74a6 6 0 1 1 1.06-1.06l2.79 2.79a.75.75 0 1 1-1.06 1.06z' clip-rule='evenodd'/%3E%3C/svg%3E");
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .search_bar__input {
        flex: 9;
        padding: 1%;
        box-sizing: border-box;
        color: var(--color);
        border: none;
        border-bottom: 5px solid var(--color-primary);
    }

    .search_bar__input:focus {
        outline: none;
    }
}